@use "../../assets/sass/variables"as *;

.home {
   &__textbox {
      height: 80vh;
      color: $textBackground;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      gap: 4rem;

   }

   &__title {
      text-align: center;
      margin: 0 5vw 0;
   }

   &__description {
      background-color: $primaryColor;
      padding: 1rem 10vw;
      margin: 0 2vw;
      border-radius: 1rem;
   }
}