@use "./variables"as *;

* {
   margin: 0;
   padding: 0;
   font-family: $secondaryFont;
}

h1,
h2,
h3 {
   font-family: $primaryFont;
   font-weight: 400;

}

h1 {
   font-size: 3rem;
}

p {
   font-size: 1.5rem;
}