@use "./variables"as *;

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: $secondaryFont;
}

h1,
h2,
h3 {
   font-family: $primaryFont;
   font-weight: 400;

}

h1 {
   font-size: 3rem;
   color: $textBackground;
}

h2 {
   font-size: 2rem;
   color: $textBackground;
}

h3 {
   font-size: 1.8rem;
}

p {
   font-size: 1.5rem;
}