@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Work+Sans&display=swap');


$primaryFont: 'Mochiy Pop P One';
$secondaryFont:'Work Sans';

$pictureCover: #353535af;

$primaryColor:#A4161A;
$secondaryColor:#0B090A;

$textBackground:#F5F3F4;