@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Work+Sans&display=swap');


$primaryFont: 'Mochiy Pop P One';
$secondaryFont:'Work Sans';

$pictureCover: #3535359c;
$defaultBackground:#7f7f80;


$primaryColor:#a4161a;
$secondaryColor:#0B090A;

$textBackground:#F5F3F4;