@use "../../assets/sass/variables"as *;

.game-list {
   background-color: $defaultBackground;
   padding-bottom: 2rem;
   min-height: 100vh;

   &__container {
      display: flex;
      flex-direction: column;
      gap: 2rem;
   }

   &__heading {
      text-align: center;
      padding: 1rem 0rem;
      margin: auto;
   }
}